:root{
  --p-slider-range-background:#dc2626 !important;
  --p-select-focus-border-color: #dc2626 !important;
}
:host ::ng-deep .p-checkbox .p-checkbox-box {
  border-radius: 4px;
  border-color: #ddd;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background: #dc2626;
  border-color: #dc2626;
}

:host ::ng-deep .p-slider .p-slider-range {
  background: #dc2626;
}

:host ::ng-deep .p-slider .p-slider-handle {
  border-color: #dc2626;
}

:host ::ng-deep .p-button.p-button-danger {
  background: #dc2626;
  border-color: #dc2626;
}

:host ::ng-deep .p-button.p-button-text.p-button-danger {
  color: #dc2626;
  background: transparent;
}


::ng-deep .p-dropdown:focus,
::ng-deep .p-dropdown.p-focus {
  border-color: #dc2626 !important;
  box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.2) !important;
}

::ng-deep .p-dropdown:hover {
  border-color: #dc2626 !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: rgba(220, 38, 38, 0.1) !important;
  color: #dc2626 !important;
}


.p-select-option.p-select-option-selected.p-focus {
  background: #F4D0D2 !important;
  color: #D91515 !important;
}
.p-select{
  background-color: transparent !important;
}

