.mobile-menu-visible {
  display: block;
}

.mobile-menu-hidden {
  display: none;
}
@font-face {
  font-family: 'SaudiFont';
  src: url('/fonts/SaudiFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}