.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  position: relative;
  max-width: 600px;
  padding: 0;
  
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #e5e7eb;
    width: calc(100% - 30px);
    top: 50px;
    z-index: 1;
    left: 15px;
  }
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  
  .step-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e5e7eb;
  }
  
  &.active {
    .step-counter {
      background: #dc2626;
      width: 22px;
      height: 22px;
    }
  }
}
:host ::ng-deep .custom-checkbox .p-checkbox-box.p-highlight {
    border-color: #CF333F !important;
    background: #CF333F !important;
  }
  
  :host ::ng-deep .custom-checkbox .p-checkbox-box:hover {
    border-color: #CF333F !important;
  }
  
  ::ng-deep .custom-checkbox .p-radiobutton-box {
    border: 2px solid #CF333F !important;
  }
  
  ::ng-deep .custom-checkbox .p-radiobutton-box.p-highlight {
    background-color: #CF333F !important;
    border-color: #CF333F !important;
  }
  
  ::ng-deep .custom-checkbox .p-radiobutton-icon {
    background-color: white !important;
  }