<div class="w-[90%] m-auto">
  <div class=" text-center ">
    <h2 class=" mb-6 leading-tight font-bold mt-10 text-[28px]">سياسة الدفع الآمن</h2>
    <p class="mb-6 text-[24px] font-normal leading-relaxed">
       في 
      <span class="text-[#A12831]">تايرز</span> نولي
      أولوية قصوى لأمان وسرية عمليات الدفع الخاصة بعملائنا. نلتزم باستخدام أحدث وسائل الأمان  <br/> وتقنيات التشفير لضمان تجربة دفع آمنة وموثوقة على مدار الساعة.
    </p>
  </div>

  <h3 class="font-bold my-9 text-[28px]">1- طرق الدفع المتاحة</h3>
  <p class="  mt-2 leading-relaxed mb-4  text-[24px] font-normal">نوفر لعملائنا عدة خيارات دفع إلكتروني آمنة تشمل</p>
  <ul class="list-disc list-inside space-y-1 mt-2 leading-relaxed mb-4  text-[24px] font-normal ">
    <li>بطاقات مدى البنكية</li>
    <li>بطاقات الائتمان (Visa / Mastercard)</li>
    <li>Apple Pay</li>
    <li>STC Pay</li>
    <li>التحويل البنكي (عند التفعيل)</li>
    <li>الدفع بالتقسيط (عبر شركاء مثل تمارا أو تابي - إن توفر)</li>
  </ul>
  <h2 class="font-bold my-9 text-[28px]">2- أمان الدفع الإلكتروني</h2>
  <ul class="list-disc list-inside space-y-2 text-base  mt-2 leading-relaxed mb-4  text-[24px] font-normal">
    <li>تتم جميع عمليات الدفع من خلال بوابات دفع مرخصة وموثوقة معتمدة من مؤسسة النقد العربي السعودي.</li>
    <li>لا نقوم بتخزين أي بيانات بطاقة بنكية على خوادمنا.</li>
    <li>يتم تشفير جميع المعاملات باستخدام بروتوكولات SSL الآمنة لضمان حماية بياناتك أثناء المعالجة.</li>
    <li>نلتزم بمعايير PCI-DSS الخاصة بحماية بيانات البطاقات المصرفية.</li>
  </ul>
  <p class="font-bold my-9 text-[28px]">3- سياسة الدفع عند الاستلام</p>
    <p class="mb-4 mt-2 leading-relaxed  text-[24px] font-normal">
      حالياً لا نوفر خيار الدفع عند الاستلام، وذلك لضمان تأكيد الطلب وجدية التنفيذ.
    </p>
    <p class="mb-8 mt-2 leading-relaxed   text-[24px] font-normal">
      قد يتم تفعيل هذه الميزة في المستقبل لبعض المدن أو المنتجات.
    </p>

    <p class="font-bold my-9 text-[28px]">4- المدفوعات غير الناجحة أو المرفوضة</p>
    <p class=" mt-2 leading-relaxed mb-4  text-[24px] font-normal">في حال فشل عملية الدفع:</p>
    <ul class="list-disc list-inside space-y-2 mt-2 leading-relaxed mb-4  text-[24px] font-normal">
      <li>ستظهر لك رسالة توضح سبب الرفض (مثل: الرصيد غير كافي، مشكلة في البطاقة، إلخ).</li>
      <li>يمكنك المحاولة باستخدام بطاقة أخرى أو وسيلة دفع بديلة.</li>
      <li>في حال تم الخصم من حسابك دون تأكيد الطلب، يرجى التواصل معنا فوراً وسنقوم بالتحقق وإعادة المبلغ خلال 5-10 أيام عمل كحد أقصى.</li>
    </ul>

    <p class="font-bold my-9 text-[28px]">5- إيصال الدفع والفاتورة</p>
    <ul class="list-disc list-inside mb-6 space-y-1 mt-2 leading-relaxed  text-[24px] font-normal">
      <li>بمجرد إتمام الدفع، سيتم إرسال إيصال إلكتروني عبر البريد الإلكتروني.</li>
      <li>يمكنك تحميل الفاتورة في أي وقت من حسابك على المنصة تحت "طلباتي".</li>
    </ul>

    <p class="font-bold my-9 text-[28px]">6- الحماية من الاحتيال</p>
    <p class=" mt-2 leading-relaxed mb-4  text-[24px] font-normal">لضمان الأمان الكامل :</p>
    <ul class="list-disc list-inside mb-6 space-y-1 mt-2 leading-relaxed   text-[24px] font-normal">
      <li>قد نقوم بطلب تحقق إضافي في بعض الحالات (مثل تأكيد الهوية أو معلومات البطاقة).</li>
      <li>نراقب الأنشطة غير الاعتيادية على المنصة لمنع الاحتيال أو إساءة الاستخدام.</li>
    </ul>

    <p class="font-bold my-9 text-[28px]">7- الدعم الفني للدفع</p>
    <p class="font-normal  mt-2 leading-relaxed mb-4  text-[24px] ">
      إذا واجهت أي مشكلة أثناء الدفع، لا تتردد في التواصل معنا عبر:
    </p>
    <ul class="list-disc list-inside space-y-1 mt-2 leading-relaxed mb-4  text-[24px] font-normal">
      <li><span class="text-[#BE1522]">البريد الإلكتروني</span>: [أدخل البريد]</li>
      <li><span class="text-[#BE1522]">رقم خدمة العملاء</span>: [أدخل الرقم]</li>
    </ul>
    <p class="mt-2 text-[24px] font-normal">من الأحد إلى الخميس، من 9 صباحًا حتى 6 مساءً</p>

 </div> 