 <main class=" mx-auto w-[90%]">
  <div class=" text-center w-full ">
   <h1 class="  mb-6 leading-tight font-bold mt-10 text-[28px]">
     سياسة الخصوصية
   </h1>
   <p class="mb-6 text-[24px] font-normal leading-relaxed">  
     في <span class="font-extrabold  text-red-600">تايرز</span> نلتزم بحماية خصوصيتك وضمان أمان بياناتك الشخصية. تهدف سياسة الخصوصية هذه إلى توضيح كيفية    <br>    جمعنا واستخدامنا ومشاركتنا وحماية معلوماتك عند استخدامك منصتنا الإلكترونية أو تطبيق الجوال الخاص بنا.
   </p>
  </div>
 
   <h2 class=" mb-4 mt-8  font-bold my-6 text-[28px]">1- المعلومات التي نجمعها</h2>
   <p class="mb-4  text-[24px] font-bold">
     نجمع المعلومات التي تقدمها لنا مباشرة عند:  </p>
   <ul class="list-disc list-inside mb-4 space-y-1 text-[24px] font-normal">
     <li>إنشاء حساب في المنصة.</li>
     <li>تقديم طلب شراء أو حجز خدمة.</li>
     <li>التواصل معنا عبر نموذج الاتصال أو البريد الإلكتروني أو الهاتف.</li>
     <li>المشاركة في العروض أو المسابقات أو الاستطلاعات.</li>
   </ul>
   <p class="mb-4 leading-relaxed font-bold my-6 text-[26px]">
     وقد تشمل المعلومات:
   </p>
   <ul class="list-disc list-inside mb-4 space-y-1 text-[24px] font-normal">
     <li>الاسم الكامل</li>
     <li>قم الجوال.</li>
     <li>البريد الإلكتروني.</li>
     <li>عنوان التوصيل.</li>
     <li>معلومات السيارة (مثل نوع وموديل السيارة).</li>
     <li>تفاصيل الدفع (تُعالج عبر بوابات دفع آمنة ولا نحتفظ ببيانات البطاقة البنكية).</li>
   </ul>
 
   <h2 class="font-bold my-6 text-[28px]  mb-4 mt-8">2- المعلومات التي نجمعها تلقائيًا</h2>
   <p class="mb-4 leading-relaxed text-[24px] font-bold ">
     عند استخدامك المنصة، قد نقوم تلقائيًا بجمع معلومات مثل:  </p>
   <ul class="list-disc list-inside mb-4 space-y-1 text-[24px] font-normal">
     <li>عنوان الـIP.</li>
     <li>نوع الجهاز والمتصفح.</li>
     <li>الصفحات التي تزورها داخل المنصة.</li>
     <li>مدة التصفح وتفاعلك مع المحتوى.</li>
   </ul>
   <h1 class=" text-[24px] font-bold">نستخدم ملفات تعريف الارتباط (Cookies) لتحسين تجربتك وتخصيص المحتوى المعروض لك.</h1>
 
   <h2 class="font-bold my-6 text-[28px]  mb-4 mt-8">3- كيفية استخدام المعلومات</h2>
   <p class="mb-4 leading-relaxed text-[24px] font-bold">
     نستخدم معلوماتك من أجل:
   </p>
   <ul class="list-disc list-inside mb-4 space-y-1 text-[24px] font-normal">
     <li>معالجة الطلبات وتقديم الخدمات.</li>
     <li>تحسين تجربة المستخدم وتطوير منصتنا.</li>
     <li>التواصل معك بخصوص الطلبات أو العروض أو الدعم الفني.</li>
     <li>إرسال إشعارات وتنبيهات تتعلق بحسابك أو الخدمات التي تهمك (مع إمكانية إلغاء الاشتراك في أي وقت).</li>
   </ul>
 <div class="my-7">
   <h2 class="font-bold my-6 text-[28px] mb-4">4- مشاركة المعلومات مع أطراف ثالثة</h2>
   <p class="mb-4 text-[24px] font-bold">
     نحن لا نبيع معلوماتك لأي طرف ثالث. قد نشارك بعض المعلومات مع:
   </p>
   <ul class="list-disc list-inside mb-6 space-y-2 text-[24px] font-normal">
     <li>الموردين ومراكز الخدمة لأغراض تنفيذ الطلب.</li>
     <li>مزودي خدمات الدفع الآمن.</li>
     <li>شركات الشحن والتوصيل.</li>
     <li>الهيئات الرسمية في حال طلب منا ذلك بموجب القانون.</li>
   </ul>
   <p class=" mb-6 text-[24px] font-bold">كل الأطراف المتعاملة معنا تلتزم بسياسات خصوصية صارمة.</p>
   <h2 class=" font-bold my-6 text-[28px] mb-4">5 - أمان المعلومات</h2>
   <p class="text-[24px] font-normal">
     نتخذ الإجراءات الفنية والتنظيمية لحماية بياناتك من الوصول غير المصرح به أو التعديل أو الكشف   <br/> أو التدمير. ومع ذلك، لا يمكننا ضمان أمان كامل بنسبة 100% لأي نظام إلكتروني.
   </p>
 </div>
 <div class="my-7">
   <h2 class="font-bold my-6 text-[28px]  mb-4">6- حقوق المستخدم</h2>
   <p class="mb-4 leading-relaxed text-[24px] font-bold">
     بموجب أنظمة حماية البيانات المعمول بها في المملكة العربية السعودية، لك الحق في:
   </p>
   <ul class="list-disc list-inside space-y-2 mb-6 text-[24px] font-normal">
     <li>الوصول إلى معلوماتك الشخصية.</li>
     <li>طلب تصحيح بياناتك.</li>
     <li>طلب حذف أو تقييد استخدام بياناتك.</li>
     <li>الاعتراض على استخدام بياناتك لأغراض تسويقية.</li>
   </ul>
   <p class="mb-1 text-[24px] font-bold ">للتواصل معنا بشأن هذه الحقوق:</p>
   <p class="mb-1 text-[24px] font-bold ">البريد الإلكتروني الرسمي:</p>
   <p class=" underline text-[24px] font-bold">info&#64;tires.sa</p>
 </div>
 <div class=" my-7">
   <h2 class=" font-bold my-6 text-[28px]">7- الاحتفاظ بالبيانات</h2>
   <p class="mb-6 text-[24px] font-normal">
     نحتفظ بمعلوماتك طالما كان ذلك ضرورياً لتقديم خدماتنا والامتثال للالتزامات القانونية. بعد ذلك، يتم حذفها أو إخفاؤها بشكل آمن.
   </p>
 
   <h2 class="font-bold my-6 text-[28px]">8- التغييرات على سياسة الخصوصية</h2>
   <p  class="text-[24px] font-normal">
     قد نقوم بتحديث هذه السياسة من وقت لآخر. سيتم نشر أي تغييرات على
    هذه الصفحة مع تحديث "تاريخ المراجعة" أدناه.
     <br />
     تاريخ آخر تحديث: [01.05.2025]
   </p>
 </div>
 </main> 
