<div
  class="w-[95%] max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10"
  *ngIf="productDetails"
>
  <!-- Main Content Grid -->
  <div class="grid md:grid-cols-2 gap-12">
    <!-- Right Section: Product Image -->
    <div class="">
      @if(productDetails.price!=productDetails.priceAfterDiscount &&
      productDetails.priceAfterDiscount!=0){
      <div class="relative max-w-sm mx-auto" style="direction: ltr">
        <owl-carousel-o [options]="customOptions" #owl>
          <ng-container *ngFor="let item of images">
            <ng-template carouselSlide>
              <div
                class="bg-white rounded-lg shadow-lg text-center border-2 border-red-600 p-0"
              >
                <!-- Discount Banner -->
                <div class="bg-red-600 text-white rounded-t p-1">
                  <p class="font-bold">خصم %50 لمدة يومان</p>
                  <div class="flex justify-center mt-2 text-sm space-x-4">
                    <div class="flex flex-col gap-2 items-center">
                      <span
                        class="text-lg font-bold border-2 border-white rounded-xl p-3 w-[60px] h-[60px] flex items-center justify-center"
                        >{{ timeLeft.days }}</span
                      >
                      <span>أيام</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center">
                      <span
                        class="text-lg font-bold border-2 border-white rounded-xl p-3 w-[60px] h-[60px] flex items-center justify-center"
                        >{{ timeLeft.hours }}</span
                      >
                      <span>ساعات</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center">
                      <span
                        class="text-lg font-bold border-2 border-white rounded-xl p-3 w-[60px] h-[60px] flex items-center justify-center"
                        >{{ timeLeft.minutes }}</span
                      >
                      <span>دقائق</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center">
                      <span
                        class="text-lg font-bold border-2 border-white rounded-xl p-3 w-[60px] h-[60px] flex items-center justify-center"
                        >{{ timeLeft.seconds }}</span
                      >
                      <span>ثواني</span>
                    </div>
                  </div>
                  <div class="flex justify-center mt-4 bg-white rounded-lg">
                    <img
                      [src]="item"
                      alt="Product Image"
                      class="w-full aspect-square object-contain rounded-lg"
                    />
                  </div>
                </div>

                <!-- Product Image -->
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <!-- Custom Prev Button -->
        <button
          (click)="owl.prev()"
          class="absolute w-8 h-8 text-lg flex items-center justify-center z-40 top-1/2 -left-2 transform -translate-y-1/2 bg-white border border-red-600 rounded-full p-2 shadow hover:bg-gray-100"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>

        <!-- Custom Next Button -->
        <button
          (click)="owl.next()"
          class="absolute w-8 h-8 text-lg flex items-center justify-center z-40 top-1/2  -right-2 transform -translate-y-1/2 bg-white border border-red-600 rounded-full p-2 shadow hover:bg-gray-100"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      } @else {
      <div class="relative max-w-sm mx-auto" style="direction: ltr">
        <owl-carousel-o [options]="customOptions" #owl>
          <ng-container *ngFor="let item of images">
            <ng-template carouselSlide>
              <div
                class="bg-white rounded-lg shadow-lg text-center p-0"
              >
                <!-- Discount Banner -->
                  <div class="flex justify-center bg-white rounded-lg">
                    <img
                      [src]="item"
                      alt="Product Image"
                      class="w-full aspect-square object-contain rounded-lg"
                    />
                  </div>
               

                <!-- Product Image -->
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <!-- Custom Prev Button -->
        <button
          (click)="owl.prev()"
          class="absolute w-8 h-8 text-lg flex items-center justify-center z-40 top-1/2 -left-2 transform -translate-y-1/2 bg-white border border-red-600 rounded-full p-2 shadow hover:bg-gray-100"
        >
        <i class="fa-solid fa-arrow-left"></i>

        </button>

        <!-- Custom Next Button -->
        <button
          (click)="owl.next()"
          class="absolute w-8 h-8 text-lg flex items-center justify-center z-40 top-1/2 -right-2 transform -translate-y-1/2 bg-white border border-red-600 rounded-full p-2 shadow hover:bg-gray-100"
        >
        <i class="fa-solid fa-arrow-right"></i>

        </button>
      </div>
      }

    
      
    </div>
    <!-- Left Section -->
    <div >
      <h1 class="text-2xl font-bold mb-4">
        {{ productDetails.name.en }}
      </h1>
      <!-- Brand and Rating Section -->
      <div class="mb-8">
        <!-- <h2 class="text-2xl font-bold">
          {{ productDetails.brand.name[currentLang] }}
        </h2> -->

        <img src="{{ productDetails.brand.image }}" class="w-28" alt="" />
        <div class="flex items-center gap-2 mt-2 mb-4">
          <p-rating
            [(ngModel)]="rating"
            [readonly]="true"
            [stars]="5"
          ></p-rating>
          <span class="text-lg">{{ rating || 5 }}</span>
        </div>
        <p class="text-green-600 mt-2 mb-4" *ngIf="productDetails.stock > 0">
          متوفر بالمخزون
        </p>
      </div>

      <!-- Price Section -->
      <div class="my-5">
        <p class="text-gray-600 mb-1 font-bold dark:text-gray-200">السعر</p>
        @if(productDetails.price!=productDetails.priceAfterDiscount &&
        productDetails.priceAfterDiscount!=0) {
        <div class="flex items-center gap-2">
          <span class="text-3xl line-through">{{ productDetails.price }}</span>
          <!-- <span class="text-sm">ريال</span> -->
          <!-- <img
            src="Saudi_Riyal_Symbol-2.svg"
            class="mx-2 dark:bg-gray-200"
            width="16"
            height="16"
            alt="riyal symbol"
          /> -->
            <img class=" dark:hidden w-[16px] h-[16px]" src="images/lucide_saudi-riyal (1).png" alt=""/>
            <img class="hidden dark:block w-[16px] h-[16px]" src="images/llucide_saudi-riyal.png" alt="" />
        </div>
        }

        <div class="flex items-center gap-2">
          @if(productDetails.price!=productDetails.priceAfterDiscount &&
          productDetails.priceAfterDiscount!=0) {
          <span class="text-3xl font-bold text-[#731C23]">{{
            productDetails.priceAfterDiscount
          }}</span>

          }@else {

          <span class="text-3xl font-bold">{{ productDetails.price }}</span>
            <img class=" dark:hidden w-[16px] h-[16px]" src="images/lucide_saudi-riyal (1).png" alt=""/>
            <img class="hidden dark:block w-[16px] h-[16px]" src="images/llucide_saudi-riyal.png" alt="" />
          }
          <!-- <span class="text-sm">ريال</span> -->
          <!-- <img
            src="Saudi_Riyal_Symbol-2.svg"
            class="mx-2 dark:bg-gray-200"
            width="16"
            height="16"
            alt="riyal symbol"
          /> -->
        <img class=" dark:hidden w-[16px] h-[16px]" src="images/lucide_saudi-riyal (1).png" alt=""/>
            <img class="hidden dark:block w-[16px] h-[16px]" src="images/llucide_saudi-riyal.png" alt="" />
          <h1 class="text-center m-auto">شامل الضريبة</h1>
        </div>
        <p class="text-gray-500 text-sm font-bold dark:text-gray-200">
          {{ productDetails.description[currentLang] }}
        </p>
        
      </div>
  

      <!-- Specifications Grid -->
      <!-- <div
        class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-12"
        *ngIf="tireDetails"
      >
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">عرض</h3>
          <p>{{ tireDetails.tire_width }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">ارتفاع</h3>
          <p>{{ tireDetails.aspect_ratio }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">قطر العجلة</h3>
          <p>R {{ tireDetails.wheel_diameter }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">سنة التصنيع</h3>
          <p>{{ tireDetails.yearOfProduction }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">الضمان</h3>
          <p>{{ tireDetails.warranty }} شهر</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">نوع الإطار</h3>
          <p>{{ tireDetails.tireDrawType }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">مؤشر السرعة</h3>
          <p>{{ tireDetails.speed_rating }}</p>
        </div>
        <div class="text-center">
          <h3 class="text-[#A12831] font-bolder text-lg">مؤشر الحمولة</h3>
          <p>{{ tireDetails.load_index }}</p>
        </div>
      </div> -->

      <!-- Quantity Section -->

      <div class="flex space-x-5 my-8">
        <button
        (click)="buyNow()"
          class="bg-red-600 text-white text-xl disabled:bg-[#EBBBBF]  flex items-center px-5 py-2 rounded-lg"
        >
          شراء
        </button>
        <div
          class="flex w-fit border-black border-2 items-center px-3 py-2 rounded-lg overflow-hidden dark:bg-gray-800 dark:text-gray-200"
        >
          <button class="px-2 text-xl" (click)="updateQuantity('m')">-</button>
          <span class="px-3 font-semibold">{{ quantity() }}</span>
          <button class="px-2 text-xl" (click)="updateQuantity('p')">+</button>
        </div>

        <button
        (click)="addToCart(productDetails._id)"
          class="text-xl rounded-lg flex items-center px-5 py-2  border-black border-2 dark:bg-gray-800 dark:text-gray-200"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>

      <!-- Payment Methods -->
      <div class="space-y-4 my-8">
        <div class="flex gap-4">
          <img
            src="images/simple-icons_applepay.png"
            alt="Apple Pay"
            class="h-8"
          />
          <img
            src="images/simple-icons_samsungpay.png"
            alt="Samsung Pay"
            class="h-8"
          />
          <img src="images/logos_paypal.png" alt="PayPal" class="h-8" />
          <img src="images/logos_google-pay.png" alt="Google Pay" class="h-8" />
        </div>
        <p class="text-gray-600 dark:text-gray-200">ادفع بالاقساط بدون فوائد</p>
        <div class="flex gap-4">
          <div class="border border-gray-400 rounded-lg p-4">
            <img src="images/image 2.png" alt="Tabby" class="h-12" />
            <a class="underline font-bold" (click)="showDialog('tabby')"
              >لمعرفه المزيد</a
            >
          </div>
          <a (click)="showDialog('tamara')">
            <div class="border border-gray-400 rounded-lg p-4">
              <img src="images/image 1.png" alt="Tabby" class="h-12" />
              <a class="underline font-bold dark:text-gray-200"
                >لمعرفه المزيد</a
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    header="معرفه المزيد عن انظمة التقسيط."
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: dialogWidth }"
    [closable]="true"
  >
    <div class="close flex justify-end">
      <i
        class="pi pi-times hover:text-[#A12831] cursor-pointer"
        (click)="visible = false"
      ></i>
    </div>
    <ng-container *ngIf="modal === 'tabby'; else tamaraContent">
      <div class="p-4 overflow-auto">
        <div class="flex justify-center my-4">
          <img src="images/finance-tabby 1.png" alt="Tabby" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="md:border-e-2 border-e-gray-300 px-2">
            <h2 class="text-xl font-bold my-4 text-black">ما هي خدمة تابي</h2>
            <ul class="list-disc pr-4 space-y-2 text-start">
              <li>هي طريقة جديدة للدفع من دون استخدام بطاقتك الائتمانية...</li>
              <li>
                تمنحك "تابي" الدفع بالتقسيط، على 4 دفعات متساوية بدون اي فوائد.
              </li>
              <li>
                وهكذا ستكون على علمٍ بالمبلغ الذي يجب أن تدفعه وبتاريخ
                استحقاقه...
              </li>
            </ul>
          </div>
          <div class="px-2">
            <h2 class="text-xl font-bold my-4 text-black">كيف يعمل:</h2>
            <ul class="pr-4 space-y-2 text-start">
              <li style="list-style: circle">
                حدد تابي كطريقة الدفع الخاصة بك أثناء إتمام عملية الشراء.
              </li>
              <li style="list-style: circle">
                أكمل عملية التحقق السريع وادفع القسط الأول...
              </li>
              <li style="list-style: circle">
                قم بإدارة ودفع الأقساط المتبقية من خلال تطبيق "تابي".
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
شارع شكور محطه الرمل بن البرازيلي
    <ng-template #tamaraContent>
      <div class="p-4 overflow-auto">
        <div class="flex justify-center mb-4">
          <img src="images/finance-tamara 1.png" alt="Tamara" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="md:border-e-2 border-e-gray-300 px-2">
            <h2 class="text-xl font-bold my-4 text-black">ما هي خدمة تمارا</h2>
            <ul class="list-disc pr-4 space-y-2 text-start">
              <li>هي طريقة جديدة للدفع من دون استخدام بطاقتك الائتمانية...</li>
              <li>
                تمنحك "تمارا" الدفع بالتقسيط، على 4 دفعات متساوية بدون اي فوائد.
              </li>
              <li>
                وهكذا ستكون على علمٍ بالمبلغ الذي يجب أن تدفعه وبتاريخ
                استحقاقه...
              </li>
            </ul>
          </div>
          <div class="px-2">
            <h2 class="text-xl font-bold my-4 text-black">كيف يعمل:</h2>
            <ul class="pr-4 space-y-2 text-start">
              <li style="list-style: circle">
                حدد تمارا كطريقة الدفع الخاصة بك أثناء إتمام عملية الشراء.
              </li>
              <li style="list-style: circle">
                أكمل عملية التحقق السريع وادفع القسط الأول...
              </li>
              <li style="list-style: circle">
                قم بإدارة ودفع الأقساط المتبقية من خلال تطبيق "تمارا".
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dialog>

  <div class="my-5 md:my-12">
    <div class="tabs flex justify-center items-center space-x-12 my-6">
      <p
        class="font-bold cursor-pointer text-xl text-black dark:text-gray-200 active:text-[#A12831] dark:hover:text-[#A12831]"
      >
        بيانات الاطار
      </p>
      <p
        class="font-bold cursor-pointer text-xl text-gray-600 dark:text-gray-200 active:text-[#A12831] dark:hover:text-[#A12831]"
      >
        الوصف
      </p>
      <p
        class="font-bold cursor-pointer text-xl text-gray-600 dark:text-gray-200 active:text-[#A12831] dark:hover:text-[#A12831]"
      >
        آراء العملاء
      </p>
    </div>

    <table class="w-full">
      <tbody class="">
        <tr class="grid grid-cols-1 lg:grid-cols-2">
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">ارتفاع</span>
            <span class="font-bold">{{ addedTire?.aspect_ratio||'--' }}</span>
          </td>
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">عرض</span>
            <span class="font-bold">{{ addedTire?.tire_width||"--" }}</span>
          </td>
        </tr>
        <tr class="grid grid-cols-1 lg:grid-cols-2">
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">مقاس الجنط</span>
            <span class="font-bold">R {{ addedTire?.wheel_diameter||'--' }}</span>
          </td>
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">العلامة التجارية</span>
            <span class="font-bold">{{ productDetails?.brand?.name?.ar ||'--'}}</span>
          </td>
        </tr>
        <tr class="grid grid-cols-1 lg:grid-cols-2">
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">بلد الصنع</span>
            <span class="font-bold">--</span>
          </td>
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">نوع النقشة</span>
            <span class="font-bold">{{ addedTire?.tireDrawType||'--' }}</span>
          </td>
        </tr>
        <tr class="grid grid-cols-1 lg:grid-cols-2">
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">رمز المنتج / ID</span>
            <span class="font-bold">{{ productDetails?._id||'--' }}</span>
          </td>
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">نوع المركبة الملائمة</span>
            <span class="font-bold">{{
              productDetails?.description?.ar?.includes("شاحنة")
                ? "شاحنات"
                : "سيارات"
            }}</span>
          </td>
        </tr>
        <tr class="grid grid-cols-1 lg:grid-cols-2">
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">رمز الحمولة</span>
            <span class="font-bold">{{ addedTire?.load_index ||'--' }}</span>
          </td>
          <td class="py-3 grid grid-cols-4 gap-x-2">
            <span class="text-[#A12831] font-bolder text-lg">تاريخ التصنيع</span>
            <span class="font-bold">{{ addedTire?.yearOfProduction||'--' }}</span>
          </td>
        </tr>
      </tbody>
    </table> 

  </div>

  <!-- products slider -->
  <div class="my-5">
    <h2 class="text-2xl font-bold text-center my-6">منتجات مشابهة</h2>
    <div class="relative w-full">
      <!-- Scrollable Container -->
      <div
        #slider
        class="flex align-stretch overflow-x-hidden items-end snap-x snap-mandatory space-x-4 p-4 mx-auto justify-start scroll-smooth"
      >
        @for( product of productsList;track product._id){

        <app-product-card [product]="product"></app-product-card>
        }
      </div>

      <!-- Navigation Buttons -->
      @if(currentLang=='en'){
      <div class="flex justify-center space-x-5 mt-4">
        <button
          class="bg-white border-black border p-2 rounded shadow dark:bg-gray-800 dark:text-gray-200"
          (click)="scrollLeft()"
        >
          <i class="pi pi-angle-left"></i>
        </button>
        <button
          class="bg-white border-black border p-2 rounded shadow dark:bg-gray-800 dark:text-gray-200"
          (click)="scrollRight()"
        >
          <i class="pi pi-angle-right"></i>
        </button>
      </div>
      }@else {
      <div class="flex justify-center space-x-5 mt-4">
        <button
          class="bg-white border-black border p-2 rounded shadow dark:bg-gray-800 dark:text-gray-200"
          (click)="scrollLeft()"
        >
          <i class="pi pi-angle-right"></i>
        </button>
        <button
          class="bg-white border-black border p-2 rounded shadow dark:bg-gray-800 dark:text-gray-200"
          (click)="scrollRight()"
        >
          <i class="pi pi-angle-left"></i>
        </button>
      </div>
      }
    </div>
  </div>
</div>
