<main class="w-[80%] mx-auto my-10">
<h1 class="text-[#30850B] text-center my-5 tesxt-bold text-2xl">شكرا لك !</h1>
<img src="/images/Credit Card Payment-amico.png" class="block mx-auto" alt="">
<p class="text-[#30850B] text-center my-5 text-xl">تمت عملية الدفع بنجاح</p>
<div class="buttons flex space-x-5 justify-center">
  <button class="rounded-2xl border-2 border-black px-6 py-3 bg-gray-300 cursor-alias block " disabled>
    عرض الطلبات الخاصة بي
  </button>
  <button class="rounded-2xl border-2 border-black px-6 py-3 bg-white block" routerLink="/home">
    عودة للصفحة الرئيسية
  </button>
</div>
</main>
