<div class="w-[90%] m-auto">
  <h2 class="font-bold text-[28px] mb-4 mt-10 text-center">الشروط والأحكام</h2>
    <p class="mb-6 text-center text-[24px]">
      مرحباً بكم في
      <span class="text-[#A12831]">تايزر</span>، باستخدامك للموقع أو تطبيق الجوال الخاص بنا، فإنك توافق على الالتزام بالشروط والأحكام  <br/> التالية.
    </p>
    <p class="font-bold mb-7 text-[28px]">1- التعريفات</p>
    <ul class="list-disc list-inside space-y-1 text-[24px] font-normal ">
      <li>المنصة: تشير إلى موقع [تايزر] الإلكتروني وتطبيقه على الهواتف الذكية.</li>
      <li>المستخدم: أي شخص يستخدم المنصة سواء للشراء أو التصفح.</li>
      <li>المورد: الطرف الذي يوفر الإطارات أو الخدمات ذات الصلة عبر المنصة.</li>
      <li>مراكز الخدمة: هي الورش أو مراكز التركيب المعتمدة ضمن شبكتنا.</li>
      <li>الخدمة: تعني بيع الإطارات أو توصيلها أو تركيبها أو أي خدمات إضافية يتم عرضها على المنصة.</li>
    </ul>
    
      <p class="font-bold my-7 text-[28px]">2- دورنا كوسيط</p>
   
    <p class="mt-2 leading-relaxed text-[24px] font-normal">
      <span class="text-[#BE1522] font-semibold ">تابيز</span>  تعمل كوسيط لعرض منتجات وخدمات الإطارات من موردين مرخصين، وتسهيل الطلب والتوصيل والدفع.<br/>
      لا تتحمل مسؤولية مباشرة عن جودة المنتجات أو الخدمات المقدمة من الموردين أو مراكز الخدمة، لكنها  <br/> تبذل العناية اللازمة للتحقق من موثوقيتهم.
    </p>

    <h3 class="font-bold my-7 text-[28px]">3- للطلبات والدفع</h3>
    <ul class="list-disc list-inside space-y-1 text-sm font-normal text-[#1a1a1a] mb-6 text-[24px] ">
      <li>يتم تقديم الطلبات عبر المنصة مع خيار الدفع الإلكتروني الآمن.</li>
      <li>تأكيد الطلب لا يعني ضمان التوفر الفوري حتى يتم تأكيده من المورد.</li>
      <li>في حال عدم توفر المنتج أو وجود خطأ في السعر، سيتم إبلاغك فوراً، وسيتم إعادة المبلغ المدفوع إن وُجد.</li>
    </ul>

    <h3 class="font-bold my-7 text-[28px]">4- التوصيل والتركيب</h3>
    <ul class="list-disc list-inside space-y-1 text-sm font-normal text-[#1a1a1a] text-[24px] ">
      <li>يتم التوصيل إلى العنوان المحدد من قبل المستخدم، أو إلى أحد مراكز الخدمة المعتمدة.</li>
      <li>أوقات التوصيل تقريبية وقد تختلف حسب الموقع وتوفر المنتج.</li>
      <li>رسوم التوصيل والتركيب تظهر عند إتمام الطلب، وقد تختلف حسب المدينة أو الخدمة المختارة.</li>
    </ul>
    <h3 class="font-bold my-7 text-[28px]">5- سياسة الإرجاع والاستبدال</h3>
    <ul class="list-disc list-inside space-y-2 text-[24px] font-normal">
      <li class="text-[24px] font-normal">
        يمكن إرجاع أو استبدال الإطارات خلال مدة أقصاها
        <span class="font-bold">7 أيام</span> من تاريخ الاستلام، بشرط أن تكون غير مستخدمة وفي حالتها الأصلية.
      </li>
      <li>لا يتم قبول الإرجاع بعد التركيب، إلا في حال وجود عيب مصنعي.</li>
      <li class="text-[24px] font-normal">
        يتحمل المستخدم رسوم الشحن في حال الإرجاع أو الاستبدال ما لم يكن بسبب
        <span class="font-bold">خطأ</span> من المنصة أو المورد.
      </li>
    </ul>

    <h3 class="font-bold my-7 text-[28px]">6- حدود المسؤولية</h3>
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li class="text-[24px] font-normal">
        <span class="text-[#BE1522] font-semibold">- تابرز</span> غير مسؤولة عن أي أضرار ناتجة عن الاستخدام غير السليم للإطارات، أو تأخير التركيب، أو أي أضرار غير مباشرة.
      </li>
      <li class="text-[24px] font-normal">
        - نوصي المستخدمين بالتأكد من توافق الإطارات مع سياراتهم قبل الشراء.
      </li>
    </ul>
    <h3 class="font-bold my-7 text-[28px]">7- الملكية الفكرية</h3>
      <p class="text-[24px] font-normal leading-relaxed">
        جميع المحتويات (النصوص، الصور، العلامات التجارية، إلخ) على المنصة مملوكة لـ
        <span class="text-[#BE1522]">تايزر</span> أو الأطراف  <br/> المرخصة ولا يجوز استخدامها دون إذن خطي مسبق.
      </p>
  
    
      <h3 class="font-bold my-7 text-[28px]">8- التعديل على الشروط</h3>
      <p class="text-[24px] font-normal leading-relaxed">
        يحق لـ
        <span class="text-[#BE1522]">تايزر</span>
        تعديل هذه الشروط والأحكام في أي وقت دون إشعار مسبق. استمرارك في استخدام  <br/>   المنصة بعد التعديلات يعني موافقتك عليها.
      </p>
    
    
      <h3 class="font-bold my-6 text-[28px]">9- القانون المعمول به</h3>
      <p class="text-[24px] font-normal  leading-relaxed mb-5privacy-policy">
        تخضع هذه الشروط والأحكام وتفسر وفقًا للقوانين والأنظمة المعمول بها في المملكة العربية  <br/> السعودية.
      </p>
    </div> 