 <div class="w-[90%] m-auto">
  <div class="text-center">
    <h1 class="font-bold text-[28px] mb-4 ">سياسة الضمان</h1>
    <p class="mb-4 my-6 text-[24px] font-normal">
      في
      <span class="text-[#A12831] font-semibold">تايزر</span>
      ، نحرص على ضمان جودة المنتجات المعروضة، ونسهل على عملائنا الوصول إلى خدمات الضمان المقدمة  <br/> من الموردين أو المصنعين المعتمدين، فيما يلي تفاصيل سياسة الضمان الخاصة بنا:
    </p>

  </div>

  <section class="w-[1171px]">
  
  <h2 class="font-bold  mb-4 text-[28px] mt-10 ">1- شمولية الضمان</h2>
  <p class="mb-4 my-6 text-[24px] font-normal">
    يغطي الضمان
    <span class="text-[#BE1522]  font-bold ">عيوب الصنع فقط</span>
    في الإطارات، مثل:
  </p>
  <ul class="list-disc list-inside mb-4 my-6 text-[24px] font-normal">
    <li>التصنيع غير المتقن.</li>
    <li>العيوب في المواد أو الهيكل الداخلي.</li>
    <li>انفصال الطبقات أو انتفاخ الإطار بدون سبب خارجي.</li>
    <li>مدة الضمان تختلف حسب نوع الإطار والشركة المصنعة، وعادة ما تتراوح من 6 أشهر إلى 1 سنة أو حسب سياسة الوكيل المحلي.</li>
  </ul>
  <p class="text-[#A12831] font-bold mb-5 text-sm mt-2 leading-relaxed text-[24px] ">
    الضمان مقدم من الوكيل أو المورد المعتمد، وليس من المنصة مباشرة، إلا في حال تم توضيح خلاف ذلك <br/> في صفحة المنتج
  </p>

  <h2 class="font-bold  mb-4 text-[28px] ">2- شروط الاستفادة من الضمان</h2>
  <p class="mb-4 my-6 text-[24px] font-normal">
    للاستفادة من الضمان، يجب أن تتوفر الشروط التالية:
  </p>
  <ul class="list-disc list-inside space-y-2 mb-4 my-6 text-[24px] font-normal">
    <li>تقديم فاتورة الشراء الأصلية الصادرة من المنصة.</li>
    <li>
      أن يكون الإطار غير مستخدم بشكل مفرط أو في ظروف غير مناسبة (مثل القيادة بسرعة مفرطة أو على طرق غير مخصصة).
    </li>
    <li>ألا يكون الإطار تعرض لتلف ناتج عن:</li>
    <ul class="list-disc list-inside space-y-1 mb-4 my-6 text-[24px] font-normal mr-6">
      <li>حادث أو صدمة.</li>
      <li>ثقب أو تمزقات بسبب أجسام خارجية.</li>
      <li>استخدام غير صحيح (مثل الضغط الزائد أو المنخفض).</li>
      <li>تركيب غير احترافي.</li>
    </ul>
  </ul>
  <h2 class="font-bold  mb-4 text-[28px] mt-6 ">3- إجراءات طلب الضمان</h2>
  <p class="mb-4 my-6 text-[24px] font-normal">
    في حال واجهتك مشكلة في الإطار
    <strong class="text-[#BE1522] leading-relaxed text-[17px] font-bold ">أثناء فترة الضمان</strong>
    يرجى اتباع الخطوات التالية:
  </p>
  <ol class="list-decimal list-inside space-y-2 mb-4 my-6 text-[24px] font-normal">
    <li>
      التواصل معنا عبر خدمة العملاء (أو مباشرة مع المورد
      <strong>إن تم ذكره في الفاتورة</strong>).
    </li>
    <li>إرسال صور واضحة للإطار المتضرر.</li>
    <li>توضيح رقم الطلب وتاريخ الشراء وموقع العميل.</li>
    <li>
      سيتم توجيهك إلى أقرب مركز فحص معتمد تابع للمورد أو الشركة المصنعة.
    </li>
    <li>بعد الفحص، يتم اتخاذ أحد الخيارات التالية بناءً على تقرير الفني:</li>
  </ol>
  <ul class="list-disc list-inside space-y-2  mb-4 my-6 text-[24px] font-normal">
    <li>استبدال الإطار بآخر جديد (حسب مدى الضرر).</li>
    <li>تعويض جزئي (نسبة من السعر حسب عمر الإطار).</li>
    <li>رفض الضمان إذا تبين أن السبب خارج نطاق التغطية.</li>
  </ul> <h2 class="font-bold  mb-4 text-[28px] mt-6 ">4- الضمان لا يشمل</h2>
  <ul class="list-disc list-inside space-y-1  mb-4 my-6 text-[24px] font-normal">
    <li>الإطارات التي تم تركيبها بشكل خاطئ.</li>
    <li>الإطارات التي انتهى عمرها الافتراضي أو تجاوزت المسافة الموصى بها من الشركة المصنعة.</li>
    <li>الإطارات المستخدمة في رياضات السيارات أو السباقات أو الأحمال الزائدة.</li>
    <li>الإطارات التي تم التلاعب بها أو تصليحها بطرق غير نظامية.</li>
  </ul>
  <p class="font-bold  mb-4 text-[28px] mt-6 ">5- المسؤولية القانونية</p>
  <ul class="list-disc list-inside mb-4 my-6 text-[24px] font-normal">
    <li>دور المنصة هو تسهيل الربط بين العميل والمورد أو مركز الضمان، ونلتزم بمتابعة الحالة حتى يتم فحصها ومعالجتها حسب الأصول.</li>
    <li>في حال تأخر المورد أو الوكيل عن تقديم الخدمة خلال فترة زمنية معقولة، سنتدخل لضمان حقوق العميل وفقاً لأنظمة وزارة التجارة.</li>
  </ul>
  <p class="font-bold  mb-4 text-[28px] mt-6">6- الدعم والمساعدة</p>
  <p class="mb-4 my-6 text-[24px] font-normal text-[#BE1522]">
     البريد الإلكتروني:  <span class="text-[#0B0303]">[أدخل البريد]</span><br />
     رقم خدمة العملاء:   <span class="text-[#0B0303]">[أدخل الرقم]</span>
  </p>
  <p class="mb-4 my-6 text-[24px] font-normal">من الأحد إلى الخميس، من 9 صباحاً حتى 6 مساءً</p>
</section>
 </div>