<!-- Hero Section -->
<section class="mb-10 relative h-[670px] bg-cover bg-center text-white" style="background-image: url('images/WhatsApp\ Image\ 2025-04-28\ at\ 11.44.34\ AM\ 1.png');">
    <div class="absolute inset-0 bg-[rgba(0,0,0,.2)]  flex flex-col justify-center items-start text-start ps-24">
      <h2 class="text-[40px] font-extrabold ">عن تايرز</h2>
      <p class="max-w-xl text-[24px] mt-3">
تايرز هي أول منصة إلكترونية متكاملة في المملكة العربية السعودية تقدم جميع أنواع الإطارات مباشرة من الوكيل الرسمي مع التوصيل أو التركيب في أقرب مركز صيانة للعميل.          </p>

    </div>
  </section>
  
  <!-- Why Choose Us -->
<div class="w-[90%] mx-auto overflow-x-hidden mb-20">
  <h1 class="font-bold text-[32px] text-center py-14">ما الذي يميز منصة تايرز؟</h1>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 p-5 max-w-6xl mx-auto text-center ">
    
    <!-- Card -->
    <div class="bg-white p-6 md:p-12 rounded-xl shadow-[2px_2px_5px_rgba(0,0,0,0.1)] text-center max-w-[520px] w-full mx-auto h-auto dark:bg-[#302F2F] dark:text-[#F1F1F1]">
      <div class="w-full h-auto p-4">
        <img src="images/shopping-online_6148964 1.png" alt="shoping" class="mx-auto w-[109px] h-[109px] mb-4">
        <h2 class="text-[24px] font-bold mb-3 dark:text-[#F1F1F1]">تجربة شراء شفافة وسهلة</h2>
        <p class="text-[20px] text-gray-600 font-normal dark:text-[#F1F1F1]">
          تعكس المنصة البساطة والشفافية، حيث يمكنك استعراض الخيارات ومقارنة الأسعار والمواصفات بكل وضوح، مع دعم فني متواصل للإجابة على استفساراتك.
        </p>
      </div>
    </div>

    <div class="bg-white p-6 rounded-xl shadow-[2px_2px_5px_rgba(0,0,0,0.1)] text-center max-w-[520px] w-full mx-auto h-auto dark:bg-[#302F2F]">
      <div class="w-full h-auto">
        <img src="images/shopping-online_6148964 1.png" alt="shoping" class="mx-auto w-[109px] h-[109px] mb-4">
        <h2 class="text-[24px] font-bold mb-8 dark:text-[#F1F1F1]">تشكيلة واسعة ومضمونة:</h2>
        <p class="text-[20px] text-gray-600 px-4 font-normal dark:text-[#F1F1F1]">
          نوفر لك مجموعة شاملة من الإطارات الأصلية والمعتمدة التي تلبي احتياجات مختلف أنواع السيارات، مع ضمان الجودة من الوكلاء الرسميين.
        </p>
      </div>
    </div>

    <div class="bg-white p-6 md:p-12 rounded-xl shadow-[2px_2px_5px_rgba(0,0,0,0.1)] text-center max-w-[520px] w-full mx-auto h-auto dark:bg-[#302F2F]">
      <div class="w-full h-auto">
        <img src="images/shopping-online_6148964 1.png" alt="shoping" class="mx-auto w-[109px] h-[109px] mb-4">
        <h2 class="text-[24px] font-bold mb-3 dark:text-[#F1F1F1]">توصيل سريع</h2>
        <p class="text-[20px] text-gray-600 px-7 font-normal dark:text-[#F1F1F1]">
          التزامنا بتوفير خدمة توصيل سريعة يضمن وصول طلبك في أسرع وقت ممكن، مع متابعة دقيقة لعملية الشحن
        </p>
      </div>
    </div>

    <div class="bg-white p-6 rounded-xl shadow-[2px_2px_5px_rgba(0,0,0,0.1)] text-center max-w-[520px] w-full mx-auto h-auto dark:bg-[#302F2F]">
      <div class="w-full h-auto">
        <img src="images/shopping-online_6148964 1.png" alt="shoping" class="mx-auto w-[109px] h-[109px] mb-4">
        <h2 class="text-[24px] font-bold mb-3 dark:text-[#F1F1F1]">خدمات تركيب معتمدة</h2>
        <p class="text-[20px] text-gray-600 px-8 font-normal dark:text-[#F1F1F1]">
          نوفر خدمات تركيب موثوقة في مراكز صيانة معتمدة، ليكون تركيبه أمراً سهلاً ومريحاً دون الحاجة للتعامل مع جهات متعددة
        </p>
      </div>
    </div>

  </div>
</div>


 <div class=" lg:h-[650px] mb-10 py-5 " style="background-image: linear-gradient(#A12831,#2E0B0E);">
          <h1 class="text-[28px] text-center text-white pt-4">كيف تعمل منصة تايرز؟</h1>
  <div class="w-[85%] mx-auto text-white flex flex-col lg:flex-row items-start lg:justify-between gap-10 mt-8 ">
 <div class="block lg:hidden mt-20 w-full">
  <img src="images/Group.png" alt="" class="mx-auto">
</div>
    <div class="relative  ">

    <div class=" ">

      <h1 class="number text-[22px] font-bold  "><span class="font-bold text-[32px] me-7 ">1</span>
       تصفح واختيار الإطار: 
      </h1>
      <p class="text-[18px] mt-3 ps-12 font-normal ">قم بزيارة موقعنا لاكتشاف التشكيلة الواسعة من الإطارات المناسبة لسيارتك.</p>
    </div>
    <div class="absolute top-[45px] right-0 hidden md:block  ">
      <img src="images/Line 17.png" alt="">
    </div>
        <div class=" md:ms-30 sm:mt-15 m-0 ">
      <h1 class="number text-[22px] font-bold  "><span class="font-bold text-[32px] me-7">2</span>
       تصفح واختيار الإطار: 
      </h1>
      <p class="text-[18px] mt-3 ps-14  leading-8 font-normal 2xl:pe-[240px]" >عند اختيار الإطار، يتم توجيه طلبك مباشرة إلى الوكيل/ المورد الرسمي،   مما يضمن  الحصول على المنتج الأصلي وبأفضل جودة.</p>
    </div>
     <div class="imges  top-[170px] right-[125px] mt-5 absolute  hidden md:block">
      <img src="images/Line 17.png" alt="">
    </div>
        <div class="md:ms-[250px] md:mt-6  m-0">
      <h1 class="number text-[22px] font-bold "><span class="font-bold text-[32px] me-5">3</span>
       تصفح واختيار الإطار: 
      </h1>
      <p class="text-[18px] mt-3 ps-12  leading-8 font-normal xl:pe-[240px]">يتم توصيل الإطار إلى موقعك أو إلى أحد مراكز الصيانة المعتمدة الأقرب لموقعك، حيث يقوم فريق متخصص بتركيبه باحترافية لضمان الأداء الأمثل.</p>
    </div>
    </div>
 <div  class="hidden lg:block mt-20 lg:w-[450px] ">
        <img src="images/Group.png"  alt="" class="mx-auto ">
  </div>

    </div>
</div> 




 <div class="lg:w-[80%] mx-auto mt-20 ">

<div class="block lg:flex align-content-center justify-center">

  <div class="">
  <img src="images/vision 1 1.png" alt="" class="mx-auto">
  </div>

  <div class="w-[60%] mt-25 ms-[50px] ">
    <h1 class="text-[32px] font-extrabold">رؤيتنا</h1>
      <p class="text-[18px] mt-2 md:w-[600px] font-normal">نسعى لأن نكون الرائدين في تغيير مفهوم شراء الإطارات في السعودية، من خلال توفير منصة موثوقة تجمع بين أفضل المنتجات والخدمات التكنولوجية الحديثة. نهدف إلى تحقيق رضا العملاء الكامل عبر تقديم تجربة متكاملة وسلسة تبدأ من اختيار الإطار وتنتهي بخدمات ما بعد البيع</p>
  </div>
</div>
</div>

<div class="flex flex-col items-center gap-10 sm:flex-row sm:justify-around sm:items-start mt-30 mb-25 text-center">

  <div class="w-[295px] text-center">

    <img src="images/tires_1768096.png" alt="" class="w-[116px] h-[116px] mx-auto mb-2">
    <h1 class="font-extrabold text-[24px]">المصداقية</h1>
    <p class="text-[18px] font-normal">
      كل منتج معروض يتم اختياره من خلال شبكة معتمدة من الوكلاء لضمان الجودة والأصالة.
    </p>  </div>

  <div class="w-[295px] text-center">
    <img src="images/tires_3098634.png" alt="" class="w-[116px] h-[116px] mx-auto mb-2">
    <h1 class="font-extrabold text-[24px]">الراحة والسرعة</h1>
    <p class="text-[18px] font-normal">
      نهتم بوقت عملائنا، لذا نحرص على تقديم خدمات سريعة ومريحة في كل خطوة من خطوات الطلب والتركيب.
    </p>
  </div>

  <div class="w-[295px] text-center">
    <img src="images/tire_1698080.png" alt="" class="w-[116px] h-[116px] mx-auto mb-2">
    <h1 class="font-extrabold text-[24px]">الاحترافية</h1>
    <p class="text-[18px] font-normal">
      نعمل مع أفضل الفرق المتخصصة لضمان تقديم خدمات متكاملة تتناسب مع تطلعاتك ومتطلبات سيارتك
    </p>
  </div>
</div>

