 <div class="w-[90%] mx-auto mt-10 mb-10">
  <div class="text-center">
    <h1 class="font-bold text-center mb-4 text-[28px] ">سياسة الاسترجاع والاستبدال</h1>
    <p class="mb-4 leading-loose text-[24px] font-normal">
      في
      <span class="text-[#A12831] font-semibold ">تابرز</span>
      نسعى لتوفير أفضل تجربة تسوق إلكتروني لعملائنا، ومنهم أن بعض الظروف قد تتطلب استرجاع <br/> أو استبدال المنتجات، ولهذا نوضح أدناه سياستنا المتعلقة بذلك:
    </p>

  </div>
 
  <h1 class="font-bold mb-8 text-[28px]  my-3 mt-15">1- شروط الاسترجاع</h1>
  <p class="text-[24px] font-bold mb-8 my-6">
    يحق للعميل طلب استرجاع المنتج خلال
    <span class="font-semibold">7 أيام</span>
    من تاريخ الاستلام، في الحالات التالية:
  </p>
  <ul class="list-disc list-inside mb-4 space-y-1 text-[24px] font-normal my-6">
    <li>إذا لم يتم استخدام الإطار أو تركيبه.</li>
    <li>إذا كان المنتج في حالة الأصلية دون تلف أو استخدام.</li>
    <li>إذا كان الإطار في عبوته الأصلية ولم يتم إزالة الملصقات.</li>
    <li>إذا كان إرسال منتج خاص أو غير مطابق للطلب.</li>
    <li>إذا كان في الإطار عيب مصنعي واضح.</li>
  </ul>
  <p class="text-[24px] font-bold my-6">
    <span class="text-[#A12831]">ملاحظة:</span> لا يمكن استرجاع أو استبدال الإطارات بعد التركيب إلا في حالة وجود عيب مصنعي مثبت.
  </p>
  

  <div>
    <h1 class="font-bold mb-8 my-5 text-[28px]  ">2- شروط الاستبدال</h1>
    <p class="text-[24px] font-normal mb-8 my-6">
      يحق للعميل طلب استبدال المنتج خلال نفس المدة
      <span class="font-bold">(7 أيام)</span>
      ، ونفس الشروط السابقة، بشرط توفر المنتج البديل في المخزون.
    </p>
  </div>
 
    <h1 class="font-bold mb-8 my-5 text-[28px]  ">3- آلية تقديم طلب الاسترجاع أو الاستبدال</h1>
    <p class="text-[24px] font-bold  my-6">يرجى التواصل مع فريق خدمة العملاء عبر:</p>
    <p class="text-[24px] font-normal">
      <span class="text-[#BE1522] my-2">البريد الإلكتروني:</span> [أدخل البريد]
    </p>
    <p class="text-[24px] font-normal my-3">
      <span class="text-[#BE1522]">رقم خدمة العملاء:</span> [أدخل الرقم]
    </p>
    <p class="text-[24px] font-normal my-2">
      أو من خلال الموقع "طلباتي" - "مشكلة في الطلب"
    </p>
    <p class="font-bold text-[24px] my-6 ">
      سنقوم بالرد خلال 1-2 يوم عمل، مع ترتيب عملية الاسترجاع أو الاستبدال حسب الحالة.
    </p>


  <h1 class="font-bold mb-8 text-[28px]  my-3">4- رسوم الشحن والإرجاع</h1>
  <ul class="list-none space-y-3 text-sm leading-relaxed my-6">
    <li class="text-[22px] font-bold">
      <p>• إذا كان سبب الإرجاع أو الاستبدال يعود لخطأ منّا أو من المورد  (مثل: منتج خاطئ، تالف، عيب مصنعى):</p>
      <p class="text-[#BE1522] font-bold"> تتحمل كامل تكاليف الشحن ✅ </p>
    
    </li>
    <li class="text-[22px] font-bold my-6">
      <p>• إذا كان السبب غير متعلق بخطأ منّا (مثل: تغيير رأي، مقاس غير مناسب تم اختياره من قبل العميل):</p>
      <p class="text-[#BE1522] font-bold"> يتحمل العميل رسوم الشحن والإرجاع ❌</p>
    
    </li>
  </ul>
    <h1 class="font-bold mb-8 text-[28px]  my-3">5. استرداد المبلغ</h1>
    <ul class="space-y-1 mb-6 text-[24px] font-normal my-6">
      <li>يتم استرداد المبلغ إلى نفس وسيلة الدفع التي تم استخدامها.</li>
      <li>تستغرق عملية استرداد المبلغ عادة من 5 إلى 10 أيام عمل حسب البنك أو مزود خدمة الدفع.</li>
    </ul>

    <h1 class="font-bold mb-8 text-[28px]  my-3">6- استثناءات</h1>
    <p class="font-bold mb-8 text-[24px] my-6 ">لا يمكن استرجاع أو استبدال المنتجات في الحالات التالية:</p>
    <ul class="  space-y-1 text-[24px] font-normal my-6">
      <li>بعد تركيب الإطار أو استخدامه.</li>
      <li>المنتجات المخفضة ضمن "عروض تصفية نهائية" (ما لم يكن هناك خلل مصنع).</li>
      <li>المنتجات التي تم التعديل عليها أو فتحها بشكل يؤدي لتلف التغليف أو فقدان جزء منها.</li>
    </ul>




</div>