<div class="contenar w-[90%] m-auto mb-5 ">

  <h1 class="text-[40px] font-extrabold text-center mt-5 pb-19" >المدونة التعليمية</h1>


  
  <div class="flex justify-around items-center mt-3">
    <div class="w-[45%] ">
      <img class="rounded-lg" [src]="blogs.image" alt="">
      
    </div>
    <div class="w-[40%]  ">
        
      <h1 class="text-[24px] font-extrabold w-[491px] ">{{blogs.title}}</h1>
    
      <p  class="pe-10 leading-7" >{{blogs.content}}</p>
   
    </div>

  </div>
   

  <p class="text-[20px] px-12 mt-7">لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثال … او نماذج مواقع انترنتلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثال لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثال … او نماذج مواقع انترنتلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثاللوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم</p>
    


 
 </div>