 <div class="w-[90%] m-auto mt-10 mb-10">
  <h2 class="font-bold my-6 text-[28px] text-center ">(FAQ) الأسئلة الشائعة</h2>

  <div class="mb-6">
    <h3 class="mb-4 mt-8  font-bold my-6 text-[28px]">1- كيف أعرف أن الإطار مناسب لسيارتي؟</h3>
    <p class="mt-2 leading-relaxed  text-[24px] font-normal">  يمكنك إدخال مقياس الإطار الحالي الموجود على الإطار القديم مثل :<br/>225/55 R17</p>
  </div>

  <div class="mb-6">
    <h3 class="mb-4 mt-8  font-bold my-6 text-[28px]">2- هل أسعار الإطارات تشمل التركيب؟</h3>
    <p class="mt-2 leading-relaxed  text-[24px] font-normal">بشكل عام، السعر المعروض لا يشمل التركيب، لكن يمكنك إضافة خدمة التركيب أثناء إتمام الطلب، سواء في  <br/>مركز خدمة معتمد أو في موقعك (إن توفرت الخدمة في مدينتك).</p>
  </div>

  <div>
    <h3 class="mb-4 mt-8  font-bold my-6 text-[28px]">3- هل يمكن توصيل الإطارات إلى المنزل؟</h3>
    <p class="mt-2 leading-relaxed  text-[24px] font-normal">نعم، نوفر خدمة التوصيل إلى المنزل أو إلى مراكز الخدمة، يتم تحديد الخيار المناسب أثناء إتمام الطلب.</p>
  </div>

  <h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">
    4- هل يمكنني الدفع عند الاستلام؟
  </h2>
  <p class="mt-2 leading-relaxed  text-[24px] font-normal">
    لا نوفر حالياً خيار الدفع عند الاستلام. جميع المدفوعات تتم بشكل آمن عبر وسائل الدفع الإلكترونية<br/><span class="font-extrabold"> (مدى، فيزا، آبل باي)</span> 
  </p>

  <h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">
    5- كم يستغرق التوصيل؟
  </h2>
  <ul class="list-disc list-inside space-y-1 mb-2 mt-2 leading-relaxed  text-[24px] font-normal">
    <li>المدن الرئيسية: من 1 إلى 3 أيام عمل.</li>
    <li>المدن الأخرى: من 3 إلى 5 أيام عمل.</li>
  </ul>
  <p class="mt-2 leading-relaxed  text-[24px] font-normal">تُحتسب المدة من تاريخ تأكيد الطلب.</p>


  <h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">6- هل يوجد ضمان على الإطارات؟</h2>
  <p  class="mt-2 leading-relaxed  text-[24px] font-normal">نعم، جميع الإطارات تأتي بضمان ضد العيوب الصنع مقدم من الوكيل أو المورد المعتمد. مدة الضمان تختلف  <br/> حسب الشركة المصنعة.</p>
<div>
  <h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">7- هل يمكنني استرجاع أو استبدال الإطارات؟</h2>
  <p class="mt-2 leading-relaxed  text-[24px] font-normal">نعم، يمكنك الاسترجاع أو الاستبدال خلال 7 أيام بشرط أن يكون الإطار غير مركب أو مستخدم  <br/> وفي حالته الأصلية. راجع <a class="text-green-700 underline">سياسة الاسترجاع والاستبدال</a> للمزيد.</p>
</div>
<div>
  <h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">8- هل توفرون عروض أو خصومات؟</h2>
  <p class="mt-2 leading-relaxed  text-[24px] font-normal">نعم، نقدم عروضاً موسمية وخصومات دورية. تابعنا على وسائل التواصل أو اشترك في النشرة   <br/> البريدية للحصول على التحديثات والعروض الحصرية.</p>
</div>
<h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">
  9- هل جميع الإطارات أصلية؟
</h2>
<p class="mt-2 leading-relaxed  text-[24px] font-normal">
  نعم، نضمن أن جميع الإطارات المعروضة على موقعنا أصلية 100% ومستوردة من <br/>
  الموردين والوكلاء المعتمدين في السعودية.
</p>

<h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">
  10 - ما المقصود بخدمة "التركيب في مركز خدمة"؟
</h2>
<p class="mt-2 leading-relaxed  text-[24px] font-normal">
  هي خدمة تتيح لك شحن الإطارات مباشرة إلى مركز خدمة معتمد، وتحديد موعد
  لتركيبها بدون  <br/> الحاجة لاستلامها في المنزل.
</p>

<h2 class="mb-4 mt-8  font-bold my-6 text-[28px]">8- لم تجد إجابتك هنا؟</h2>
<p class="mt-2 leading-relaxed  text-[24px] font-normal">
  <span class="text-[#BE1522] font-bold">البريد الإلكتروني:</span>
  <span> [أدخل البريد]</span>
</p>
<p class="mt-2 leading-relaxed  text-[24px] font-normal"> 
  <span class="text-[#BE1522] font-bold">رقم خدمة العملاء:</span>
  <span> [أدخل الرقم]</span>
</p >
<p class="mt-2 leading-relaxed  text-[24px] font-normal">من الأحد إلى الخميس، من 9 صباحاً حتى 6 مساءً</p>
<p class="mt-2 leading-relaxed  text-[24px] font-normal">أو عبر صفحة اتصل بنا</p>



</div> 