<div class="w-[90%] m-auto">
  <div class=" text-center">
    <h1 class="font-bold text-[28px] mb-4 mt-10">
      سياسة الشحن والتوصيل
    </h1>
    <p class="mb-4 my-6 text-[24px] font-normal">
      في
      <span class="text-[#A12831]">تايرز</span>
      نعمل على توفير خيارات مرنة وآمنة لتوصيل الإطارات وخدمات التركيب إلى عملائنا في مختلف مناطق   <br/>  المملكة العربية السعودية، سواءً إلى المنزل أو إلى مراكز الخدمة المعتمدة.
    </p>
  </div>
 
  <section>
    <h2 class="font-bold text-[28px] mb-4 mt-10">1- مناطق التوصيل</h2>
    <p class="mb-4 my-6 text-[24px] font-bold ">
      نقوم بالتوصيل إلى
      <span class="text-[#A12831] ">جميع المدن الرئيسية</span>
      في المملكة، وقد تختلف المدة والتكاليف حسب:
    </p>
    <ul class="list-disc list-inside  space-y-1  mb-4 my-6 text-[24px] font-normal">
      <li>المدينة والموقع الجغرافي.</li>
      <li>توفر المنتج لدى المورد.</li>
      <li>خيار التوصيل المختار (منزل / مركز خدمة).</li>
    </ul>
    <p class=" mb-6 my-6 text-[24px] font-bold">
      <span class="text-[#A12831] ">ملاحظة:</span>
      في حال كان موقع العميل خارج نطاق التوصيل، سيتم التواصل معه مباشرة لإيجاد حل مناسب.
    </p>

    <h2 class="font-bold text-[28px] mb-4 mt-4">2- مدة التوصيل</h2>
    <ul class="list-disc list-inside space-y-2  mb-4 my-6 text-[24px] font-normal">
      <li>المدن الرئيسية (مثل: الرياض، جدة، الدمام): من 1 إلى 3 أيام عمل.</li>
      <li>المدن الأخرى: من 3 إلى 5 أيام عمل.</li>
      <li>الطلبات التي تشمل تركيًّا في مركز خدمة قد تحتاج تنسيقًا إضافياً، ويتم تحديد الموعد المناسب مع العميل.</li>
    </ul>
    <p class=" my-6 text-[24px] font-bold  text-[#BE1522] mb-6 ">
      يُستثنى من هذه المدد الإجازات الرسمية أو الظروف الخارجة عن إرادتنا (مثل الأحوال الجوية).
    </p>

    <h2 class="font-bold text-[28px] mb-4 mt-4">3- رسوم التوصيل</h2>
    <ul class="list-disc list-inside space-y-2  mb-7 my-6 text-[24px] font-normal">
      <li>يتم احتساب رسوم التوصيل تلقائيًا عند إتمام الطلب بناءً على العنوان ونوع الخدمة.</li>
      <li>قد تتوفر عروض توصيل مجاني من وقت لآخر، وسيتم توضيح ذلك في صفحة الدفع.</li>
      <li>رسوم التوصيل لا تشمل رسوم التركيب، ما لم يُذكر خلاف ذلك.</li>
    </ul>

    <p class="font-bold text-[28px] mb-4 mt-4">4- توصيل الإطارات إلى مراكز الخدمة</p>
    <p class=" mb-6 my-6 text-[24px] font-bold">
      يمكنك اختيار مركز خدمة معتمد من قائمة الشركاء أثناء إتمام الطلب، وسيتم:
    </p>
    <ul class="list-disc list-inside  space-y-2  mb-7 my-6 text-[24px] font-normal">
      <li>توصيل الإطارات مباشرةً إلى المركز المختار.</li>
      <li>التنسيق معك لحجز موعد للتركيب (عند الحاجة).</li>
      <li>إعلامك عند وصول المنتج للمركز.</li>
    </ul>

    <p class="font-bold text-[28px] mb-4 mt-4">5- تتبع الطلب</p>
    <p class=" mb-4 my-6 text-[24px] font-bold">
      بعد إتمام الطلب، ستحصل على رقم تتبع عبر:
    </p>
    <ul class="list-disc list-inside  space-y-2  mb-4 my-6 text-[24px] font-normal">
      <li>البريد الإلكتروني.</li>
      <li>رسالة نصية SMS.</li>
      <li>أو داخل التطبيق في قسم "طلباتي".</li>
    </ul>
    <p class="  my-6 text-[24px] font-bold">يمكنك من خلاله متابعة حالة الطلب لحظة بلحظة</p>
    <p class="font-bold text-[28px] ">6- فشل التوصيل</p>
    <p class=" mb-4 my-6 text-[24px] font-bold">إذا لم نتمكن من تسليم الطلب بسبب:</p>
    <ul class="list-disc list-inside  space-y-2  mb-4 my-6 text-[24px] font-normal">
      <li>عدم استجابة العميل.</li>
      <li>عنوان خاطئ أو غير واضح.</li>
      <li>رفض استلام المنتج بدون سبب مقبول.</li>
    </ul>
    <p class=" mb-4 my-6 text-[24px] font-bold"><span class="font-extrabold ">فقد يتم إلغاء الطلب</span><span class="text-[#BE1522]">، ويتم خصم رسوم الشحن من المبلغ المسترد </span><span class="font-extrabold">(إن وُجد).</span></p>

    <p class="font-bold text-[28px] mb-4 mt-4 ">7- الاستلام الذاتي (إن وُجد)</p>
    <p class=" mb-2  mt-2  leading-10 text-[24px] font-bold">قد نتيح في بعض المدن خيار “الاستلام من مركز خدمة” أو “نقطة استلام”، وسيتم إعلامك إذا   <br/> كان هذا الخيار متاحًا أثناء إتمام الطلب.</p>

    <p class="font-bold text-[28px] mb-4 mt-4">8- الدعم والمساعدة</p>
    <p class="  mb-4 my-6 text-[24px] font-normal">البريد الإلكتروني: <span class="font-normal text-[#BE1522]">[أدخل البريد]</span></p>
    <p class="  mb-4 my-6 text-[24px] font-normal">رقم خدمة العملاء: <span class="font-normal text-[#BE1522]">[أدخل الرقم]</span></p>
    <p class=" text-[24px] font-normal">من الأحد إلى الخميس، من 9 صباحًا حتى 6 مساءً</p>
  </section>





 </div> 